.center {
    margin: auto;
    padding: 20vh 0;
    text-align: center;
}

td {
    text-align: left;
}

.right {
    text-align: right;;
}
.card {
    background-color: #233f6e;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: white;
}
